<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :daily_price %><br>
    <%= f.number_field :daily_price %>
  </div>
  <div class="field">
    <%= f.label :total_price %><br>
    <%= f.number_field :total_price %>
  </div>
  <div class="field">
    <%= f.label :payment_processed %><br>
    <%= f.check_box :payment_processed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
