<div class="row car-search-filter-controls form-style-5">
  <div class="container">
    <div class='col-sm-3'>
      <div class="form-group">
        <div>
          <select class="form_control form_car-makers-filter" name="car[vehichle_size]" id="car_vehichle_size">
            <option value="">Select make</option>
            <option value="Any">Any</option>
          </select>
        </div>
      </div>
    </div>
    <div class='col-sm-3'>
        <div class="form-group">
        <% years = (1960..Date.today.year).map{|year| %>
          <% year.to_s %>
        <% } %>
        <%= select_tag(:car_year, options_for_select(years.reverse), {
          :prompt => "Select year", :class => "form_control form_car-years-filter"}) %>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class="form-group">
        <div>
          <select class="form_control form_car-types-filter" name="car[car_type]" id="car_type">
            <option value="">Select type</option>
            <option value="Any">Any</option>
            <option value="Car">Car</option>
            <option value="SUV">SUV</option>
            <option value="Truck">Truck</option>
            <option value="Van">Van</option>
            <option value="Minivan">Minivan</option>
            <option value="RV">RV</option>
            <option value="Bus">Bus</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class="form-group">
        <div>
          <select class="form_control form_car-body-types-filter" name="car[body_type]" id="car_body_type">
            <option value="">Select body type</option>
            <option value="Any">Any</option>
            <option value="1">2dr Sedan</option>
            <option value="2">4dr Sedan</option>
            <option value="3">2dr SUV</option>
            <option value="4">4dr SUV</option>
            <option value="5">2dr Hatchback</option>
            <option value="6">4dr Hatchback</option>
            <option value="Convertible">Convertible</option>
            <option value="8">Coup</option>
            <option value="9">Cargo Minivan</option>
            <option value="10">Cargo Van</option>
            <option value="11">Convertible SUV</option>
            <option value="12">Crew Cab Pickup</option>
            <option value="13">Extended Cab Pickup</option>
            <option value="14">Passenger Minivan</option>
            <option value="15">Passenger Van</option>
            <option value="16">Regular Cab Pickup</option>
            <option value="17">Wagon</option>
            <option value="18">Other</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row search-results form-style-5">
    <% if @cars.length == 0 %>
        <p>No cars met your search criteria. Please search again"</p>
    <% end %>

    <div class="row">
        <% @cars.each do |car| %>
            <div class="col-sm-4">
                <a href="/cars/<%= car.id %>">
                    <div class="col-sm-12">
                        <div class="row price-per-day">
                            <div class="pt-package-3-sm">
                                <div class="pt-header-sm-sr" style="background-color:"+thirdPackageColor+"; ">
                                    <h3 class="show-car-page-banner"><%= car.year.to_s + ' ' + car.make + ' ' + car.model %></h3>
                                </div>
                            </div><!--/pt-package-3-->
                        </div><!--/row price-per-day-->
                        <div class="row car-pics">
                            <div>
                            <% if(car.avatars.count>0) %>
                                <img class="car-pics-img" src="<%= car.avatars[0].url %>">
                            <% else %>
                                <img class="car-pics-img" src="images/2.jpg">
                            <% end %>
                            </div>
                        </div><!--/row car-pics-->
                    </div><!--/col-sm-12-->
                </a>
            </div><!--/col-sm-4-->
        <% end %>  
    </div><!--/row-->
</div>
<div>
    <%= link_to 'Go Back', '', class: "btn btn-success call-to-action carview-goback-btn" %>
</div>