<div class="form-style-5">
	<!-- Modal -->
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<% if(@errors!=nil) %>
				<div class="modal fade" id="newCarErrorModal" role="dialog" error="true">
			<% else %>
				<div class="modal fade" id="newCarErrorModal" role="dialog" error="false">
			<% end %>
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title"><%= flash_message %></h4>
						</div>
						<div class="modal-body">
							<% if(@errors!=nil) %>
								<dl>
									<% @errors.each do |err| %>
										<dt><%= err %></dt>
									<% end %>
								</dl>
							<% end %>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<fieldset>
		<%= form_for ([@car]) do |frm|%>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<%= frm.select(:make, [], {
							:prompt => "Select make"}, { :class => "form_control form_car-makers" }) %>
					</div>

					<div class="form-group">
						<%= frm.select(:model, [], { :prompt => "Select model" }, { :class => "form_control form_car-models", :disabled => true}) %>
					</div>
					<div class="form-group">
						<%= frm.date_select(:year, {:order => [:year], :start_year => Time.now.year, :end_year => 1960, 
							:prompt => {:year => "Select year"}}, {:class => "form_control"}) %>
					</div>

					<div class="form-group">
						<%= frm.select(:type, [['Car', 'Car'], ['SUV', 'SUV'], ['Truck', 'Truck'], ['Van', 'Van'], ['Minivan', 'Minivan'], ['RV', 'RV'], ['Bus', 'Bus'], ['Other', 'Other']], {
							:prompt => "Select type"}, { :class => "form_control"}) %>
					</div>

					<div class="form-group">
						<%= frm.select(:body_type, [['2dr Sedan', 1], ['4dr Sedan', 2], ['2dr SUV', 3], ['4dr SUV', 4], ['2dr Hatchback', 5], ['4dr Hatchback', 6], ['Convertible', 7], ['Coup', 8], ['Cargo Minivan', 9], ['Cargo Van', 10], ['Convertible SUV', 11], ['Crew Cab Pickup', 12], ['Extended Cab Pickup', 13], ['Passenger Minivan', 14], ['Passenger Van', 15], ['Regular Cab Pickup', 16], ['Wagon', 17], ['Other', 18]], {
							:prompt => "Select body type"}, { :class => "form_control"}) %>
					</div>

					<div class="form-group">
						<%= frm.select(:vehichle_size, [['Compact', 1], ['Midsize', 2], ['Large', 3], ['Other', 4]], {
							:prompt => "Select vehichle size"}, { :class => "form_control"}) %>
					</div>

					<div class="form-group">
						<%= frm.select(:color, [['Black', 'Black'], ['Blue', 'Blue'], ['Brown', 'Brown'], ['Gray', 'Gray'], ['Silver', 'Silver'], ['Green', 'Green'], ['Orange', 'Orange'], ['Pink', 'Pink'], ['Purple', 'Purple'], ['Red', 'Red'], ['White', 'White'], ['Yellow', 'Yellow'], ['Fuchsia', 'Fuchsia'], ['Olive', 'Olive'], ['Maroon', 'Maroon'], ['Aqua', 'Aqua'], ['Lime', 'Lime'], ['Teal', 'Teal'], ['Navy', 'Navy']], {
							:prompt => "Select color"}, { :class => "form_control"}) %>
					</div>

					<div class="form-group">
						<%= frm.select(:transmission, [['Automatic', 1], ['Manual', 2], ['Other', 3]], {
							:prompt => "Select transmission"}, { :class => "form_control"}) %>
					</div>

					<div class="form-group">
						<%= frm.select(:engine_type, [['4 Cylinder', 1], ['6 Cylinder', 2], ['8 Cylinder', 3], ['Other', 4]], {
							:prompt => "Select engine type"}, { :class => "form_control"}) %>
					</div>

					<div class="form-group">
						<%= frm.select(:driven_wheels, [['Front-wheel-drive', 1], ['Rear-wheel-drive', 2], ['Four-wheel-drive', 3], ['Other', 4]], {
							:prompt => "Select driven wheels"}, { :class => "form_control"}) %>
					</div>
					<div class="form-group">
						<%= frm.select(:fuel_type, [['Gas', 1], ['Electric', 2], ['Hybrid', 3], ['Diesel', 4], ['Natural-gas-cng', 5], ['Flex-fuel-ffv', 6], ['Other', 7]], {
							:prompt => "Select fuel type"}, { :class => "form_control"}) %>
					</div>

					<div class="form-group">
						<%= frm.select(:condition, [['Excellent', 1], ['Good', 2], ['Fair', 3], ['Poor', 4]], {
							:prompt => "Select condition"}, { :class => "form_control"}) %>
					</div>

					<div class="form-group">
						<% prices = (1..100).map{|price| %>
							<% "$" + price.to_s + ".00" %>
						<% } %>
						<%= frm.select(:price, prices.reverse, {
							:prompt => "Set daily rental price"}, { :class => "form_control"}) %>
					</div>

					<div class="form-group" class="custom-file-upload">	
						<%= frm.file_field(:images, :multiple => true) %>
					</div>

				</div><!--/col-sm-4-->
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<%= frm.check_box(:audio_input, :class => "form_control") %>
								<%= frm.label(:audio_input) %>
							</div>

							<div class="form-group">
								<%= frm.check_box(:bluetooth, :class => "form_control") %>
								<%= frm.label(:bluetooth) %>
							</div>

							<div class="form-group">
								<%= frm.check_box(:heated_seats, :class => "form_control") %>
								<%= frm.label(:heated_seats) %>
							</div>

							<div class="form-group">
								<%= frm.check_box(:sun_roof, :class => "form_control") %>
								<%= frm.label(:sun_roof) %>
							</div>

							<div class="form-group">
								<%= frm.check_box(:rearview_camera, :class => "form_control") %>
								<%= frm.label(:rearview_camera) %>
							</div>
						</div><!--</col-sm-6-->
						<div class="col-sm-6 form_car-checkbox-cols">
							<div class="form-group">
								<%= frm.check_box(:antilock_brake_system, :class => "form_control") %>
								<%= frm.label(:antilock_brake_system, "ABS") %>
							</div>
							<div class="form-group">
								<%= frm.check_box(:air_conditioner, :class => "form_control") %>
								<%= frm.label(:air_conditioner) %>
							</div>

							<div class="form-group">
								<%= frm.check_box(:electric_doors, :class => "form_control") %>
								<%= frm.label(:electric_doors) %>
							</div>

							<div class="form-group">
								<%= frm.check_box(:electric_seats, :class => "form_control") %>
								<%= frm.label(:electric_seats) %>
							</div>
							<div class="form-group">
								<%= frm.check_box(:gps, :class => "form_control") %>
								<%= frm.label(:gps, "GPS") %>
							</div>
						</div><!--close/col-sm-6-->


						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<%= frm.label(:address, :class => "form_car-address-label") %>
									<%= frm.text_field(:address, :class => "form_car-address-line", :style => "margin-bottom: 1%", :placeholder => "Adress *") %>
									<%= frm.text_field(:city, :class => "form_car-city-line", :style => "margin-bottom: 1%", :placeholder => "City *") %>
									<%= frm.text_field(:state, :class => "form_car-state-line", :placeholder => "State *") %>
								</div>
							</div><!--/col-sm-12"-->
						</div><!--/row"-->
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<%= frm.label(:description, :class => "form_car-description-label") %>
									<%= frm.text_area(:description, size: "30x11", :class => "form_control form_car-description", :placeholder => "Tell us all about your car *") %>
								</div>
							</div><!--/col-sm-12"-->
						</div><!--/row"-->
					</div><!--/row-->
				</div><!--/col-sm-8-->
			</div><!--/row-->
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<button class="btn btn-success call-to-action" action="/cars" type="submit">List Your Car</button>
				</div>
			</div><!--/row-->
		<%end%>
		<%= link_to 'Home', home_path %>
	</fieldset>
</div>					
