<p id="notice"><%= notice %></p>

    <div class="row price-per-day-show-page">
        <div class="col-sm-8 col-sm-offset-2">
            <% if(current_user.id==@car.user_id) %>
                 <a href="#">
                    <div class="pt-package-3">
                        <div class="pt-header" style="background-color:'+thirdPackageColor+';">
                            <h2> RENT NOW </h2>
                          <h3 id="car-price-banner">
                            <span class="pt-currency">$</span>
                            <span class="pt-amount"><%= @car.price %></span>
                            <span class="pt-terms">/day</span>
                          </h3>
                        </div>       
                    </div><!--/pt-package-3-->
                </a>
            <% else %> 
                <a href="<%= rent_car_path(@car) %>">       
                    <div class="pt-package-3">
                        <div class="pt-header" style="background-color:'+thirdPackageColor+';">
                            <h2> RENT NOW </h2>
                          <h3>
                            <span class="pt-currency">$</span>
                            <span class="pt-amount"><%= @car.price %></span>
                            <span class="pt-terms">/day</span>
                          </h3>
                        </div>       
                    </div><!--/col-sm-8  col-sm-offset-2-->
                </a>
            <% end %>
        </div><!--col-sm-8 col-sm-offset-2-->
    </div><!--row price-per-day-show-page-->
    <div class="row car-pics">
        <div class="col-sm-8 col-sm-offset-2">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <% (0...@car.avatars.count).each do |index| %>
                        <% if(index==0) %>
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <% else %>
                            <li data-target="#myCarousel" data-slide-to="<%= index %>"></li>
                        <% end %>
                    <% end %>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner carousel-car-img" role="listbox">
                    <% @car.avatars.each_with_index do |picture, index| %>
                        <% if(index==0) %>
                            <div class="item active">
                                <img src="<%= picture.url %>">
                            </div>
                        <% else %>
                            <div class="item">
                                <img src="<%= picture.url %>">
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div><!--/col-sm-8 col-sm-offset-1-->
    </div><!--row-->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 car-tagline">
            <p>
            <!-- Title { font-size: 2.5em; width: 80%; text-align: center; } -->
              <%= @car.make %> <%= @car.model %> <%= @car.year %>
            </p>
        </div><!--col-sm-4 col-sm-offset-4-->
    </div><!--/row-->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 car-description">
            <p>
              <%= @car.description %>
            </p>
        </div><!--col-sm-4 col-sm-offset-4-->
    </div><!--/row-->
<div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 car-details">
    <div class="col-sm-4">
        <p class="car-spec">
          <strong>Type:</strong>
          <%= @car.car_type %>
        </p>

        <p class="car-spec">
          <strong>Color:</strong>
          <%= @car.color %>
        </p>

        <p class="car-spec">
          <strong>Body type:</strong>
          <%= @car.body_type %>
        </p>

        <p class="car-spec">
          <strong>Engine type:</strong>
          <%= @car.engine_type %>
        </p>

         <p class="car-spec">
          <strong>Gps:</strong>
          <%= @car.gps %>
        </p>

        <p class="car-spec">
          <strong>Air conditioner:</strong>
          <%= @car.air_conditioner %>
        </p>

    </div><!--col-sm-4-->
    <div class="col-sm-4">
        <p class="car-spec">
          <strong>Transmission:</strong>
          <%= @car.transmission %>
        </p>

        <p class="car-spec">
          <strong>Electric doors:</strong>
          <%= @car.electric_doors %>
        </p>

        <p class="car-spec">
          <strong>Electric seats:</strong>
          <%= @car.electric_seats %>
        </p>

        <p class="car-spec">
          <strong>Condition:</strong>
          <%= @car.condition %>
        </p>

         <p class="car-spec">
          <strong>Bluetooth:</strong>
          <%= @car.bluetooth %>
        </p>

        <p class="car-spec">
          <strong>Heated seats:</strong>
          <%= @car.heated_seats %>
        </p>
    </div><!--col-sm-4-->
    <div class="col-sm-4">
        <p class="car-spec">
          <strong>Vehichle size:</strong>
          <%= @car.vehichle_size %>
        </p>

        <p class="car-spec">
          <strong>Fuel type:</strong>
          <%= @car.fuel_type %>
        </p>

        <p class="car-spec">
          <strong>Antilock brake system:</strong>
          <%= @car.antilock_brake_system %>
        </p>
         <p class="car-spec">
          <strong>Audio input:</strong>
          <%= @car.audio_input %>
        </p>

        <p class="car-spec">
          <strong>Sun roof:</strong>
          <%= @car.sun_roof %>
        </p>

        <p class="car-spec">
          <strong>Rearview camera:</strong>
          <%= @car.rearview_camera %>
        </p>
    </div><!--/col-sm-4-->
  </div><!--col-sm-8 col-sm-offset-2 car-details-->
</div><!--/row-->
    <%= link_to 'Go Back', '', class: "btn btn-success call-to-action carview-goback-btn" %>
    <% if(current_user.id==@car.user_id) %>
        <%= link_to 'Edit', edit_car_path(@car), class: "btn btn-success call-to-action" %>
    <% else %>
        <%= link_to 'Rent This Car Now', rent_car_path(@car), class: "btn btn-success call-to-action" %>
    <% end %>
</div><!--/show-car-page>-->
