<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A new way to rent car and make money">
        <meta name="author" content="">
        <title>Rent Your Car Today - Make additional income</title>
        <!-- Custom CSS -->
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!--add logo here!!<a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/  ">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#">How It Works</a>
                        </li>
                        <% if(current_user) %>
                        <li>
                            <%= link_to "My Account", "/account"%>
                        </li>
                        <li>
                            <%= link_to "Logout", destroy_user_session_path, method: :delete%>
                        </li>
                        <% else %>
                        <li>
                            <%= link_to "Sign Up", "#", class: "signup-link" %>
                        </li>
                        <li>
                            <%= link_to "Log In", "#", class: "login-link" %>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <header>
            <div class="container-fluid">
                <div class="row center-block">
                    <div class="intro-text">
                        <div class="row header-title">
                            <% if(!current_user) %>
                                <div class="row intro-lead-in header-toggle"><%= t('welcome_to_rent_my_car') %>!</div>
                            <% else %>  <!--"<%= new_car_path %>"-->
                                <div class="row intro-lead-in header-toggle"><%= t('welcome') %> <%= current_user.name %>!</div>
                            <% end %>
                        </div>
                        <div class="row header-focus">
                            <div class="container main-content-area">
                                <div class="row">
                                    <%= yield %>  
                                </div>
                            </div> 
                        </div>   
                    </div><!-- /intro-text-->
                </div> <!-- /row center-block -->
            </div><!--container-fluid-->
         </header>             
        <div class="container modal-login-form">
            <div class="row text-center">
                <div class="modal fade js-modal-login">
                    <div class="col-md-4 col-md-offset-4">
                        <form class="form-signin" role="form" action="/login" method="post">
                            <h2 class="form-signin-heading">LOGIN</h2>
                            <div class="form-group">
                                <input type="email" name="user[email]" class="form-control input-lg" placeholder="E-mail address" required autofocus>
                            </div>
                            <div class="form-group">
                                <input type="password" name="user[password]" class="form-control input-lg" placeholder="Password" required>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button><br><span class="login-sm-font">
                            Need an account? <a class="page-scroll signup-link call-to-action-2" href="#">Sign up</a> now!</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container modal-signup-form">
            <div class="row text-center">
                <div class="modal fade js-modal-signup">
                    <div class="col-sm-4 col-sm-offset-4">
                        <form class="form-signin" role="form"  action="/" method="post">
                            <h2 class="form-signin-heading">SIGN UP</h2>
                            <div class="form-group">
                                <input type="email" name="user[email]" class="form-control input-lg" placeholder="E-mail address" required autofocus>
                            </div>
                            <div class="form-group">
                                <input type="text" name="user[name]" class="form-control input-lg" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="user[password]" class="form-control input-lg" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="user[password_confirmation]" class="form-control input-lg" placeholder="Re-enter Password" required>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">REGISTER</button><br><span class="login-sm-font">
                            Already have an account? <a class="page-scroll login-link call-to-action-2" href="#">Login</a> now!</span>
                        </form>
                    </div> <!-- col-sm-4 -->
                </div> <!-- modal -->
            </div> <!-- row -->
        </div> <!-- container -->
        <footer id="footer-section">
            <div class="container" id="footer-container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Your Website 2014</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </body>
</html>